RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.andygriff.in [NC]
RewriteRule ^(.*)$ https://andygriff.in/$1 [L,R=301]   #Forces non-www url

RewriteCond    %{HTTPS}  off
RewriteRule    ^(.*)$    https://andygriff.in/$1    [L,R=301]   #Forces https