$gallery-gutter-l: 36px;
$gallery-gutter-m: 26px;
$gallery-gutter-s: 15px;


.gallery {
	padding-bottom: 7rem;
	
	h1,
	.tag_frame {
		@include logo-align;
	}
	
	.tag_frame {
		padding: 1rem 2rem 3rem 0;
		font-size: 14px;
		max-width: 50em;
	}
	
	.portfolio_tag {
		display: inline-block;
		margin: .5em .5em .5em 0;
		border-radius: 2em;
		border: solid 1px #777;
		cursor: pointer;
		color: #777;
		padding: .2em 1em .3em;
		
		&:hover {
			color: #000;
			border-color: #000;
		}
		
		&.selected {
			color: #000;
			border-color: #000;
			background-color: $primary-color;
		}
	}
	
	.portfolio_frame {
		column-count: 4;
		column-width: 340px;
		column-gap: 0;
		padding: 0 #{$gallery-gutter-l / 2};
		line-height: 0;
		margin: 0 auto;
		max-width: 2000px;
		text-align: center;
	
	}
	
	.thumbnail {
		display: inline-block;
		position: relative;
		cursor: pointer;
		margin: #{$gallery-gutter-l / 2} 0;
		width: calc(100% - #{$gallery-gutter-l});
		
		img {
			width: 100%;
			border: solid 1px #aaa;
			border-radius: 5px;
			transition: transform .15s linear;
			will-change: auto;
			
			&:hover {
				transform: scale(1.045);
			}
		}
		
		&.hidden {
			display: none;
		}
	}
	
	/*
@media (hover:none) {
		figure {
			margin-bottom: $gallery-gutter;
		
			&:after {
				position: absolute;
				content: '+';
				display: block;
				text-align: center;
				width: 1.3em;
				height: 1.3em;
				font-size: 2.2em;
				background-color: white;
				border: solid 1px #aaa;
				color: #777;
				border-radius: 100%;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%) translateY(50%);
				line-height: 1.1;
			}
		}
	}
*/

	@include viewport(m){
		.portfolio_frame {
			column-count: 2;
			column-width: auto;
			padding: 0 #{$gallery-gutter-m / 2};
		}
		
		.thumbnail {
			margin: #{$gallery-gutter-m / 2} 0;
			width: calc(100% - #{$gallery-gutter-m});
		}
	}
	
	@include viewport(s){		
		.portfolio_frame {
			column-width: 300px;
			max-width: 565px;
			padding: 0;
		}
		
		.thumbnail {
			margin: $gallery-gutter-s 0;
			width: calc(100% - 16vw);
		}
	}
}