.ag_footer {
	background-color: $primary-color;
	background-image: url('/imgs/wedge.svg');
	background-position: top right;
	background-size: 40%;
	background-repeat: no-repeat;
	font-family: 'Barlow', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: 400;
	padding: 2rem;
	text-align: center;
	font-size: .9rem;
}