$primary-color: #ffc69d;
$mid-primary: #fad6ae;
$lt-primary: #fce1b8;

$hover-color: #cc3300;

$side-padding: 3vw;

$soc-icon-path: '../imgs/social_icons/';
$soc-icon-suffix: '_icon_b.svg';
$soc-icon-hover-suffix: '_icon.svg'; 

$social-icons: (
	dribbble,
	etsy,
	itunes,
	linkedin,
	pinterest,
	redbubble,
	twitter
);